@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", serif;
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1f2937;
  color: white;
}

.header-left {
  display: flex;
  font-size: 30px;
}

.header-left,
.header-right {
  width: 33%;
  display: flex;
  justify-content: center;
}

.header-links {
  font-size: 18px;
  color: white;
  margin: 0px;
  padding: 0px;
  gap: 10px;
}

.section-1-wrapper {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 424px;
}

.section-1 {
  display: flex;
  gap: 250px;
}

.content-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  padding: 100px;
  max-width: 500px;
}

.title {
  font-size: 48px;
  font-weight: bolder;
  color: white;
  margin-bottom: 10px;
}

.p-first {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}

.signup-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.section-two-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.title-s2 {
  font-size: 36px;
  font-weight: bolder;
  color: black;
  margin: 30px;
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture {
  width: 225px;
  height: 225px;
  border: #3498db;
  border-style: solid;
  border-radius: 10px;
  margin: 5px 20px 5px 20px;
  padding: 0px;
}

.card-subtext {
  width: 275px;
  text-align: center;
  margin: 10px;
}

.section-three-wrapper {
  background-color: lightgrey;
  display: flex;
  height: 500px;
}
.section-four {
  background-color: blue;
}

.footer {
  display: flex;
  background-color: #1f2937;
  color: white;
  height: 76px;
  font-size: 20px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
}

img {
  margin: 50px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: white;
}
